<app-menu-lateral></app-menu-lateral>

<div class="main">
    <h1>¡Bienvenido, Administrador!</h1>
    <p>Estás en el panel de administración del sitio web de la Maestría en Ingeniería.</p>

    <div class="bienvenida-box">
        <h2>¿Qué puedes hacer aquí?</h2>
        <ul>
            <li>Editar el contenido de la página principal.</li>
            <li>Actualizar la información de contacto.</li>
            <li>Gestionar los apartados de Productividad y LGyAC.</li>
            <li>Agregar o modificar información del núcleo académico y plan de estudios.</li>
        </ul>
    </div>
</div>
