<body>

    <div class="sidebar">
        <h2>Administración</h2>
        <a routerLink="/index">Inicio / Index</a>
        <a routerLink="/NucleoBasico">Núcleo Académico Básico</a>
        <a routerLink="/lgyac">LGyAC</a>
        <a routerLink="/SintesisPlan">Síntesis del Plan de Estudios</a>
        <a routerLink="/RequisitosIngreso">Requisitos Ingreso</a>
        <a routerLink="/RequisitosPermanencia">Requisitos Permanencia</a>
        <a routerLink="/RequisitosGrado">Requisitos Grado</a>
        <a routerLink="/ProductividadTablas">Productividad Tablas</a>
        <a routerLink="/ProductividadLGyAC">Productividad LGAC</a>
        <a routerLink="/Egresados">Egresados</a>
        <a routerLink="/CohorteGen">Cohorte Generacional</a>
        <a routerLink="/Contacto">Contacto</a>
    </div>

</body>